<!-- This will start bebop_dev_node. -->
<launch>
    <rosparam command="load" file="$(find drone_dev)/config/matrice100Parameters.yaml" ns="drone" />
    <node name="drone_dev" pkg="drone_dev" type="drone_dev_node" args="/drone/cmd_vel:=/dji2/cmd_vel  /drone/vicon:=/matrice100/vicon /drone/transf_position:=/matrice100/transf_position /drone/odom:=/matrice100/odom /drone/pose:=/dji2/pose" output="screen"/>
</launch>
