<!-- This will start simulator. -->
<launch>
  <arg name="use_joy" default="true" />
    <rosparam command="load" file="$(find drone_dev)/config/common.yaml" ns="/dji2" />
    <rosparam command="load" file="$(find drone_dev)/config/sim.yaml" ns="/dji2" />
    <node name="m100sim" pkg="drone_dev" type="sim_node" args="__ns:=/dji2 _use_joy:=$(arg use_joy)" output="screen"/>
</launch>

